---
export const prerender = false;
import Addcity from "@/components/Addcity.astro";
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";

const { id } = Astro.params;
const result = await Astro.callAction(actions.userprofile.getUserProfile, {
  id,
});

const inputError = isInputError(result?.error) ? result.error.fields : {};

if (!result || !result?.data) {
  return Astro.redirect("/somethingwrong");
}

let userExistingData = result.data;
---

<Layout title="userprofile">
  <form method="post" action={actions.userprofile.updateUserProfile}>
    <div>
      <Input
        type="text"
        id="firstName"
        name="firstName"
        value={userExistingData?.firstName}
        inputError={inputError}
      />
    </div>

    <div>
      <Input
        type="text"
        id="lastName"
        name="lastName"
        value={userExistingData?.lastName}
        inputError={inputError}
      />
    </div>

    <div>
      <Input
        type="text"
        id="email"
        name="email"
        value={userExistingData?.email}
        inputError={inputError}
      />
    </div>

    <div>
      <Input
        type="text"
        id="phone"
        name="phone"
        value={userExistingData?.phone}
        inputError={inputError}
      />
    </div>

    <div>
      <label for="address">Address</label>
      <Input
        type="text"
        id="address"
        name="address"
        value={userExistingData?.address}
        inputError={inputError}
      />
    </div>

    <div>
      <Input
        type="text"
        id="city"
        name="city"
        value={userExistingData?.city}
        inputError={inputError}
      />
    </div>
    <Addcity />
    <button>Update Profile</button>
  </form>
</Layout>
