---
export const prerender = false;
import Addcity from "@/components/Addcity.astro";
import Layout from "@/layouts/Layout.astro";
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";

const { id } = Astro.params;
const result = await Astro.callAction(actions.userprofile.updateUserProfile, {id,}
);

const inputError = isInputError(result?.error) ? result.error.fields : {};

if(!result || !result?.data){
    return Astro.redirect("/somethingwrong");
}

let userExistingData = result.data.at(0);

console.log(userExistingData)
---

<Layout title="userprofile">
  <form method="post" action={actions.userprofile.updateUserProfile}>
    <div>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" value={userExistingData?.firstName}/>
    </div>

    <div>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName"  value={userExistingData?.lastName}/>
    </div>

    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name="email"  value={userExistingData?.email}/>
    </div>

    <div>
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone"  value={userExistingData?.phone}/>
    </div>

    <div>
      <label for="address">Address</label>
      <input type="text" id="address" name="address" value={userExistingData?.address} />
    </div>

    <div>
      <label for="city">City</label>
      <input type="text" id="city" name="city"  value={userExistingData?.city}/>
    </div>
    <Addcity />
    <button>Update Profile</button>
  </form>
</Layout>
