---
export const prerender = false;
import Input from "@/components/Input.astro";
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";
const result = Astro.getActionResult(actions.business.addListing);
const inputError = isInputError(result?.error) ? result.error.fields : {};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action={actions.business.addBusiness} method="post">
      <Input
        name="businessName"
        id="business_name"
        placeholder="My Biz"
        inputError={inputError}
      />
      <Input name="ownerName" id="owner_name" inputError={inputError} />
      <Input name="email" id="email" inputError={inputError} />
      <Input name="phone" id="phone" inputError={inputError} />
      <Input name="category" id="category" inputError={inputError} />
      <Input name="address" id="address" inputError={inputError} />
      <Input name="city" id="city" inputError={inputError} />
      <Input name="websiteLink" id="website_link" inputError={inputError} />
      <Input
        name="googleMapIframe"
        id="google_map_iframe"
        inputError={inputError}
      />
      <Input
        name="businessDescription"
        id="business_description"
        inputError={inputError}
      />

      <button type="submit">Add List</button>
    </form>
  </body>
</html>
