---
export const prerender = false;
import Addcity from "@/components/Addcity.astro";
import Input from "@/components/Input.astro";
import Layout from "@/layouts/Layout.astro";
import { isInputError } from "astro:actions";
import { actions } from "astro:actions";
import Cropper from "@/components/Cropper.astro";
const result = Astro.getActionResult(actions.userprofile.updateUserProfile);
const inputError = isInputError(result?.error) ? result.error.fields : {};

const oldUser = await Astro.callAction(actions.userprofile.getUserProfile, {});
let oldUserData = oldUser.data;
if (result && !result?.error) {
  return Astro.redirect("/");
}
---

<style>
  .imgbox {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  #profileImg {
    display: none;
    width: 100px;
  }
  label#profilelabel img {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
</style>
<Layout title="userprofile">
  <form method="post" action={actions.userprofile.updateUserProfile}>
    <Cropper />
    <Input
      id="firstName"
      name="firstName"
      value={oldUserData?.firstName}
      inputError={inputError}
    />
    <Input
      id="lastName"
      name="lastName"
      value={oldUserData?.lastName}
      inputError={inputError}
    />
    <Input
      id="email"
      name="email"
      value={oldUserData?.email}
      inputError={inputError}
    />
    <Input
      id="phone"
      name="phone"
      value={oldUserData?.phone}
      inputError={inputError}
    />
    <Input
      id="address"
      name="address"
      value={oldUserData?.address}
      inputError={inputError}
    />
    <Input
      id="city"
      name="city"
      value={oldUserData?.city}
      inputError={inputError}
    />
    <Addcity />
    <button>Update Profile</button>
  </form>
</Layout>