---
const { id, name, Class, placeholder, inputError } = Astro.props;
---

<div>
  <label for={id}>{name}</label>
  {
    inputError[name] ? (
      <input
        type="text"
        id={id}
        name={name}
        class={Class}
        placeholder={placeholder}
      />
    ) : (
      <input
        transition:persist
        type="text"
        id={id}        
        name={name}
        class={Class}
        placeholder={placeholder}
      />
    )
  }

      <!-- <input -->
      <!--   transition:persist -->
      <!--   type="text" -->
      <!--   id={id}         -->
      <!--   name={name} -->
      <!--   class={Class} -->
      <!--   placeholder={placeholder} -->
      <!-- /> -->
  {inputError[name]?.at(0)}
</div>
